openapi: 3.2.0
info:
  title: Timescale Analytics API
  version: '1.0'
  description: 'Operations tagged Analytics across 2 of this provider''s published API definitions: timescale-ghost-openapi-original.yml, timescale-tiger-cloud-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.ghost.build/v0
  description: Production
- url: https://console.cloud.tigerdata.com/public/api/v1
  description: API server for Tiger Cloud
tags:
- name: Analytics
paths:
  /analytics/identify:
    post:
      operationId: analyticsIdentify
      summary: Identify user
      description: Identifies a user for analytics.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentifyRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        default:
          $ref: '#/components/responses/Error'
      tags:
      - Analytics
      security:
      - BearerAuth: []
    servers:
    - url: https://api.ghost.build/v0
      description: Production
  /analytics/track:
    post:
      operationId: analyticsTrack
      summary: Track event
      description: Tracks an analytics event.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        default:
          $ref: '#/components/responses/Error'
      tags:
      - Analytics
      security:
      - BearerAuth: []
    servers:
    - url: https://api.ghost.build/v0
      description: Production
components:
  schemas:
    Error:
      type: object
      description: Standard error response.
      required:
      - message
      properties:
        message:
          type: string
          description: Human-readable error message.
        code:
          $ref: '#/components/schemas/ErrorCode'
    IdentifyRequest:
      type: object
      description: User properties to associate with the authenticated user in analytics.
      required:
      - properties
      properties:
        properties:
          type: object
          additionalProperties: true
          description: Free-form user properties.
    TrackRequest:
      type: object
      description: An analytics event to record.
      required:
      - event
      properties:
        event:
          type: string
          description: Event name.
        properties:
          type: object
          additionalProperties: true
          description: Free-form event properties.
    StatusResponse:
      type: object
      description: Generic success response.
      required:
      - status
      properties:
        status:
          type: string
          description: Status string (e.g. `success`).
    ErrorCode:
      type: string
      description: 'Machine-readable error code identifying a specific, client-actionable

        error condition. Clients can match on this to react to specific errors

        without parsing the human-readable message. Errors without a recognized

        code omit this field.

        '
      enum:
      - no_payment_method
      - compute_limit_exceeded
    Error_2:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: string
          description: 'Additional context about the failure. Often the actionable part

            of the error (e.g. "bearer auth is not enabled on this server"

            for a generic UNAUTHORIZED). Optional; absent on errors with no

            extra detail.

            '
  responses:
    Error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    AnalyticsResponse:
      description: Analytics action completed successfully.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                description: Status of the analytics operation
                example: success
    ClientError:
      description: Client error response (4xx status codes).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'User JWT or API key token (e.g. `gt_...`) sent as `Authorization: Bearer <token>`.'
x-refined-from:
- timescale-ghost-openapi-original.yml
- timescale-tiger-cloud-openapi-original.yml
